[submodule "code"]
	path = code
	url = https://github.com/JadeSnow7/code-of-classPlatform.git
[submodule "hust-undergrad-thesis"]
	path = hust-undergrad-thesis
	url = https://github.com/JadeSnow7/hust-undergraduate-thesis.git
[submodule "eduedge-ai-sdk"]
	path = eduedge-ai-sdk
	url = https://github.com/JadeSnow7/edge-ai-sdk.git
