[submodule "code"]
	path = code
	url = https://github.com/JadeSnow7/code-of-classPlatform.git
[submodule "hust-undergrad-thesis"]
	path = hust-undergrad-thesis
	url = https://github.com/JadeSnow7/hust-undergraduate-thesis.git
[submodule "eduedge-ai-sdk"]
	path = eduedge-ai-sdk
	url = https://github.com/JadeSnow7/edge-ai-sdk.git
[submodule "multi-agent"]
	path = multi-agent
	url = https://github.com/JadeSnow7/Multi-Agent.git
[submodule "graphrag-x"]
	path = graphrag-x
	url = https://github.com/JadeSnow7/GraphRAG-X.git
[submodule "inference-engine-v2"]
	path = inference-engine-v2
	url = https://github.com/JadeSnow7/inference-engine-v2.git
