@import "tailwindcss";

/* Ensure full height layout for the app */
html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #111827;
    /* gray-900 */
}