name: CD

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}
          port: ${{ secrets.PROD_PORT }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          script_stop: true
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            docker-compose -f code/deployment/docker/docker-compose.prod.yml pull
            docker-compose -f code/deployment/docker/docker-compose.prod.yml up -d --build
